/**
 * base.css: Base CSS for contactus
 */
.rn_contactus h2 {
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #212529 !important;
}
.rn_contactus hr
{
height:0;
border-top:1px solid #D2D2D2;
}
.rn_contactus, .rn_contactus p, .rn_contactus ul li
{
font-weight:400;
font-size: 14px;
line-height: 24px;
color: #212529 !important;
}
.rn_contactus a
{
 font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #276ADD;
text-decoration:none;
}
.rn_contactus ul li
{
list-style: disc;
list-style-position: inside;
}